@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Inter", serif;
    font-size: large;

    --main-color: white;
    --anchor-color: #d7e3f3;
    --bg-color: rgba(255, 255, 255, 0.1);

    color: var(--main-color);
}

.flex-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.ContentDiv {
    border-radius: 25px;
    background: url("../images/glass_texture.png") center fixed repeat;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: var(--main-color);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px black;
}

a {
    text-decoration-color: var(--anchor-color);
    color: var(--anchor-color);
}

@media screen and (min-width: 800px) {
    .ContentDiv {
        margin: 0 auto;
        width: 40%;
    }
    .flex-div {
        flex-direction: row;
        justify-content: center;
    }
    #Header {
        width: 90.6%;
    }
}

body {
    background: transparent;
    padding: 15px;
}
