@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

:root {
    --main-color: red;
    --bg-color: black;
}

body {
    background-color: var(--bg-color);
    background-image: url("../images/background.webp");
    background-size: 100%;
    background-repeat: no-repeat;

    color: var(--main-color);
    font-family: "Doto", serif;
    font-size: large;
}

a {
    text-decoration-color: aqua;
    color: aqua;
}

#thememusic {
    float: right;
    position: fixed;
    right: 15px;
    bottom: 15px;

    background-color: var(--bg-color);
    border-color: var(--main-color);
    border: 2px dotted;
    padding: 0px 20px 0px 20px;
}

#thememusicembed {
    margin-top: 10px;
    border: 2px dotted var(--main-color);
}

#closethememusicbutton {
    color: var(--main-color);
    background-color: transparent;
    border: 2px dotted var(--main-color);
    margin-left: 30px;
    padding: 0px 5px 0px 5px;
}
